<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div style="font-family:Trebuchet MS;margin-bottom: 20px;font-weight: bold;color: black;padding: 3px 3px 3px 10px;background-image: linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -o-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -moz-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -ms-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-gradient(linear,left bottom,left topcolor-stop(0.68, rgb(114,185,215)));">
            User Registration</div>
        <div style="padding-left: 10px;font-family: Verdana">
            Dear ${user.realName},
            <br />
            <br />
            <br />
            ${headerInfo}

            You can access this application at <a href="${applicationUrl}" target="_blank">${applicationUrl}</a><br/>
            Please fill with data bellow,<br/>
            <table  cellspacing="4" cellpadding="1" style="border: 1px solid white; width: 100%; margin-bottom: 10px;margin-top:10px;margin-left: -10px">
               
                 <tr>
                    <td style="width: 10%; background: #72b9d7; text-align: right; padding: 4px; color: white;">User Name</td>
                    <td style="background: #91d5f2; width: 84%; padding: 4px;">${user.userName}</td>
                </tr>
                <tr>
                    <td style="width: 10%; background: #72b9d7; text-align: right; padding: 4px; color: white;">Password </td>
                    <td style="background: #91d5f2; padding: 4px;">${user.password}</td>
                </tr>
            </table>
Your roles are :</br>
  <table  cellspacing="4" cellpadding="1" style="border: 1px solid white; width: 100%; margin-bottom: 10px;margin-top:10px;margin-left: -10px">
        <th style="width: 5%; background: #72b9d7; text-align: center; padding: 4px; color: white;">No.</th>
        <th style="width: 89%; background: #72b9d7; text-align: left; padding: 4px; color: white;">Role Name</th>
            #foreach($role in $role)
         <tr>
            <td style="background: #91d5f2; width: 5%; padding: 4px;text-align: center">$velocityCount</td>
           <td style="background: #91d5f2; width: 89%; padding: 4px;">${role}</td>
        </tr>
     #end
 </table>
 
            For confidentiality and security sake, please change your password immediately !
            <br/>
            Best Regards,
            <br/>
            <br/>
            ${ownerAdministrator}
        </div>
        <div style="font-family:Trebuchet MS ;margin-top: 20px;font-weight: bold;color: black;padding: 3px 3px 3px 10px;background-image: linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -o-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -moz-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -ms-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-gradient(linear,left bottom,left topcolor-stop(0.68, rgb(114,185,215)));">${applicationName} @${ownerCompany}
        </div>
    </body>
</html>