<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>

        <div style="padding-left: 10px;font-family: Verdana">
            Dear rekan supplier [Vendor name]
            <br />
            <br />
            <br />
            Disampaikan kepada para rekanan, bahwa kami PT [Inkuba]
			<br />membuka penawaran atas pengadaan:
			<br />
            <table  cellspacing="4" cellpadding="1" style="border: 1px solid white; width: 100%; margin-bottom: 10px;margin-top:10px;margin-left: -25px">
               
                 <tr>
                    <td style="width: 20%; background: #3b362c; text-align: right; padding: 4px; color: white;">No. Pengadaan</td>
                    <td style="background: #ffa600; width: 80%; padding: 4px;">0000-00</td>
                </tr>
                <tr>
                    <td style="width: 20%; background: #3b362c; text-align: right; padding: 4px; color: white;">Nama Pengadaan </td>
                    <td style="background: #ffa600; width: 80%;padding: 4px;">Xxxx xxxx xx xx xx</td>
                </tr>
				<tr>
                    <td style="width: 20%; background: #3b362c; text-align: right; padding: 4px; color: white;">Waktu pembukaan penawaran </td>
                    <td style="background: #ffa600; width: 80%;padding: 4px;"></td>
                </tr>
				<tr>
                    <td style="width: 20%; background: #3b362c; text-align: right; padding: 4px; color: white;">Waktu penutupan penawaran </td>
                    <td style="background: #ffa600; width: 80%;padding: 4px;"></td>
                </tr>
            </table>
			Description dituliskan disini.<br /><br />
			Apabila saudara berminat untuk mengikuti pengikuti pengadaan ini.<br />
			Silakan login ke applikasi LiBee Auction PT [Inkuba] dengan alamat akses internet:
			<br /><br />
			<a href="#">http://www.xxxxxxx.com</a>
			<br /><br />
 
            Demikian pemberitahuan ini di sampaikan.
			Atas perhatian dan kerjasamanya di sampaikan terima kasih.
            <br/><br/>
            On Behalf LiBee Auction,
            <br/>
            System administrator
        </div>
        
    </body>
</html>