<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div style="font-family:Trebuchet MS;margin-bottom: 20px;font-weight: bold;color: black;padding: 3px 3px 3px 10px;background-image: linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -o-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -moz-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -ms-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-gradient(linear,left bottom,left topcolor-stop(0.68, rgb(114,185,215)));">
            PERMOHONAN PENGAJUAN PENGUMUMAN ${subjek}</div>
        <div style="padding-left: 10px;font-family: Verdana">
            Yth ${approverName},
            <br />
            <br />
            <br />
            Pada tanggal ${proposeDate}, karyawan ${nik}/${requesterName} mengajukan permohonan untuk diumumkan.<br /><br />
			Adapun pengumuman yang dimaksud yaitu: <br /><br />
			<table style="margin-left: 20px;">
				<tr>
					<td>Subjek</td>   
					<td>: ${subjek}</td>
				</tr>
				<tr>
					<td>Konten</td>   
					<td>: ${content} </td>
				</tr>
				<tr>
					<td>Perusahaan</td> 
					<td>: Rp. ${company} </td>
				</tr>
            </table>
            <br />
            #if (!$listEmployeeType.isEmpty())
				<br />
	            <table  cellspacing="4" cellpadding="1" style="border: 1px solid white; width: 100%; margin-bottom: 10px;margin-top:10px;margin-left: -25px">
		            <th style="width: 5%; background: #72b9d7; text-align: center; padding: 4px; color: white;">No.</th>
		            <th style="width: 89%; background: #72b9d7; text-align: left; padding: 4px; color: white;">Tipe Karyawan</th>
		            #foreach($employeeType in $listEmployeeType)
		            <tr>
		                <td style="background: #91d5f2; width: 5%; padding: 4px;text-align: center">$velocityCount</td>
		                <td style="background: #91d5f2; width: 89%; padding: 4px;">${employeeType}</td>
		            </tr>
		            #end
	            </table>
            #end
            #if (!$listGolonganJabatan.isEmpty())
	            <br />
	            <table  cellspacing="4" cellpadding="1" style="border: 1px solid white; width: 100%; margin-bottom: 10px;margin-top:10px;margin-left: -25px">
		            <th style="width: 5%; background: #72b9d7; text-align: center; padding: 4px; color: white;">No.</th>
		            <th style="width: 89%; background: #72b9d7; text-align: left; padding: 4px; color: white;">Golongan Jabatan</th>
		            #foreach($golonganJabatan in $listGolonganJabatan)
		            <tr>
		                <td style="background: #91d5f2; width: 5%; padding: 4px;text-align: center">$velocityCount</td>
		                <td style="background: #91d5f2; width: 89%; padding: 4px;">${golonganJabatan}</td>
		            </tr>
		            #end
	            </table>
            #end
            #if (!$listUnitKerja.isEmpty())
	            <br />
	            <table  cellspacing="4" cellpadding="1" style="border: 1px solid white; width: 100%; margin-bottom: 10px;margin-top:10px;margin-left: -25px">
		            <th style="width: 5%; background: #72b9d7; text-align: center; padding: 4px; color: white;">No.</th>
		            <th style="width: 89%; background: #72b9d7; text-align: left; padding: 4px; color: white;">Unit Kerja</th>
		            #foreach($unitKerja in $listUnitKerja)
		            <tr>
		                <td style="background: #91d5f2; width: 5%; padding: 4px;text-align: center">$velocityCount</td>
		                <td style="background: #91d5f2; width: 89%; padding: 4px;">${unitKerja}</td>
		            </tr>
		            #end
	            </table>
            #end
            <br />
 			<br />
            Anda bisa melakukan persetujuan pada: <a href="${urlLinkToApprove}" target="_blank" style="border: 1px solid black; padding: 2px 4px 2px 4px; text-decoration: none; color: black; background-color: #E6E6E6;border-radius: 2px;">Lakukan Persetujuan</a>
 			<br />
 			<br />
            Demikian pemberitahuan ini disampaikan, atas perhatian dan kerjasamanya disampaikan terima kasih.
			<br />
 			<br />
			Salam,
            <br/>
            <br/>
            On Behalf ${applicationName}<br/>
            ${ownerAdministrator}
        </div>
        <div style="font-family:Trebuchet MS ;margin-top: 20px;font-weight: bold;color: black;padding: 3px 3px 3px 10px;background-image: linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -o-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -moz-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -ms-linear-gradient(bottom, rgb(70,162,202) 36%, rgb(114,185,215) 68%);background-image: -webkit-gradient(linear,left bottom,left topcolor-stop(0.68, rgb(114,185,215)));">${applicationName} @${ownerCompany}
        </div>
    </body>
</html>