/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 30, 2014, 11:19:51 AM
    Author     : Deni Husni FR
*/

body
{
    margin: 0 auto;
    padding: 0;
    color: #142B30;
    background-color: #A4D0DA;
    background-image: url('../images/Bottom_texture.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
}

#art-main
{
    font-family: "Calibri",Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    cursor:default;
}

#art-page-background-glare
{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-attachment: fixed;
}

#art-page-background-glare-image
{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-attachment: fixed;
    background-image: url('../images/page_gl.png');
    background-repeat: no-repeat;
    background-position: top left;
}

html:first-child #art-page-background-glare
{
    border: 1px solid transparent;/* Opera fix */
}

#art-page-background-middle-texture
{
    position: absolute;
    background-image: url('../images/Middle_texture.jpg');
    background-repeat: repeat-x;
    background-position: top left;
    background-attachment: fixed;
    width:100%;
    min-height:100%;
    overflow:visible;

}


.cleared
{
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1px;
}

#art-sheet
{
    position: relative;
    margin: 0 auto;
    min-width: 13px;
    min-height: 13px;
    /*top: 2px !important;*/
    margin-bottom: 20px !important;
    cursor:auto;
    width: 94%;
}

.art-sheet-body
{
    position: relative;
    padding: 2px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
    position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
    width: 12px;
    height: 12px;
    background-image: url('../images/sheet_s.png');
}

.art-sheet-tl
{
    top: 0;
    left: 0;
    clip: rect(auto, 6px, 6px, auto);
}

.art-sheet-tr
{
    top: 0;
    right: 0;
    clip: rect(auto, auto, 6px, 6px);
}

.art-sheet-bl
{
    bottom: 0;
    left: 0;
    clip: rect(6px, 6px, auto, auto);
}

.art-sheet-br
{
    bottom: 0;
    right: 0;
    clip: rect(6px, auto, auto, 6px);
}

.art-sheet-tc, .art-sheet-bc
{
    left: 6px;
    right: 6px;
    height: 12px;
    background-image: url('../images/sheet_h.png');
}

.art-sheet-tc
{
    top: 0;
    clip: rect(auto, auto, 6px, auto);
}

.art-sheet-bc
{
    bottom: 0;
    clip: rect(6px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
    top: 6px;
    bottom: 6px;
    width: 12px;
    background-image: url('../images/sheet_v.png');
}

.art-sheet-cr
{
    right: 0;
    clip: rect(auto, auto, auto, 6px);
}

.art-sheet-cl
{
    left: 0;
    clip: rect(auto, 6px, auto, auto);
}

.art-sheet-cc
{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-image: url('../images/sheet_c.png');
}

/*.art-sheet
{
    top: 20px !important;
    margin-bottom: 20px !important;
    cursor:auto;
    width: 97%;
}*/


div.art-header
{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
}



div.art-header-jpeg
{
    position: absolute;
    top: 0;
    left:0;
    width: 1920px;
    height: 90px;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}


div.art-logo
{
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    /*width: 1900px;*/

}


.art-footer
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.art-footer-b 
{
    position: absolute;
    left:4px;
    right:4px;
    bottom:0;
    height:50px;
    background-image: url('../images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
    position: absolute;
    height:50px;
    background-image: url('../images/footer_s.png');
    bottom: 0;
}

.art-footer-l
{
    left: 0;
    width:4px;
}

.art-footer-r
{
    right: 0;
    width:8px;
    clip: rect(auto, auto, auto, 4px);
}

.art-footer-t
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: #3D8494;
}

.art-footer-body
{
    position:relative;
    padding: 10px;
}

.art-footer-body .art-rss-tag-icon
{
    position: absolute;
    left:   6px;
    bottom:10px;
    z-index:1;
}

.art-rss-tag-icon
{
    display: block;
    background-image: url('../images/rssicon.png');
    background-position: center right;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    cursor: default;
}

.art-footer-text p
{
    padding:0;
    margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #E2ECEF;
    font-size: 11px;
}

.art-footer-text
{
    min-height: 30px;
    padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
    text-align: center;
}

.art-footer a,
.art-footer a:link
{
    color: #9CCCD6;
    text-decoration: none;
}

.art-footer a:visited
{
    color: #A5C5CD;

}

.art-footer a:hover
{
    color: #C4E0E7;

    text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #98CAD5;
}

.art-page-footer
{
    margin: 1em;
    text-align: center;
    text-decoration: none;
    color: #3C626D;
}

.art-content-layout .art-content .art-block
{
    background-color: #FFFFFF;
}

/*table.moduletable th
{
    font-size: 140%;
    padding: .5em 0;
}*/

.firefox2 table.poll tr td div
{
    font-size: 0;
}

#footer
{
    text-align: center;
}

.art-footer-text .moduletable
{
    border: none;
    margin: 0;
    padding: 0;
}


.header_hrm{
    font-family: Calibri!important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: #245485 !important;
}

/*.label_hrm{
    font-family: Calibri!important;
    font-size: 15px !important;
    font-weight: bold !important;
    color:#FFFFFF !important;
}*/
.label_quick{
    font-family: Lucida Sans!important;
    font-size: 13px !important;
    font-weight: normal !important;
    color:#003366 !important;
}

.label_welcome_header{
    font-family: Trebuchet MS!important;
    font-size: 14px !important;
    font-weight: normal !important;
    color:#ffffff !important;
}

.link_nodecoration{
    font-family: Calibri!important;
    font-size: 14px !important;
    font-weight: normal !important;
    color: #FFFFFF;
    cursor: pointer !important;
}








.img-user-account
{
    background-image:url(../images/admin_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-user
{
    background-image:url(../images/user_account_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-job_spek
{
    background-image:url(../images/job_spek_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-login-history{
    background-image:url(../images/login_history_1.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-user-role
{
    background-image:url(../images/role_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-configuration
{
    background-image:url(../images/configuration_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-employees
{
    background-image:url(../images/employees_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-currency
{
    background-image:url(../images/currency_icon.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-task
{
    background-image:url(../images/task_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-marital-status
{
    background-image:url(../images/marital_status_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-payroll
{
    background-image:url(../images/payroll_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-unit-kerja
{
    background-image:url(../images/unit-icon.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-competency
{
    background-image:url(../images/competency_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-reporting
{
    background-image:url(../images/laporan_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-cost-center
{
    background-image:url(../images/cost_center_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-family
{
    background-image:url(../images/family-icon_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-training
{
    background-image:url(../images/training_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-password-history
{
    background-image:url(../images/password_history_icon.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-department
{
    background-image:url(../images/department_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-religion
{
    background-image:url(../images/religion_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-bank
{
    background-image:url(../images/bank_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-dialect
{
    background-image:url(../images/dialect_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-race
{
    background-image:url(../images/race_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-faculty
{
    background-image:url(../images/faculty_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-major
{
    background-image:url(../images/major_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-language
{
    background-image:url(../images/language_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-interest-type
{
    background-image:url(../images/interest_type_icon.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-occupationType
{
    background-image:url(../images/occupationType_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-nationality
{
    background-image:url(../images/nationality_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-klasifikasiKerja
{
    background-image:url(../images/klasifikasiKerja_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-country
{
    background-image:url(../images/country_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-city
{
    background-image:url(../images/city_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-province
{
    background-image:url(../images/province_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-institutionEducation
{
    background-image:url(../images/institutionEducation_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-education-level
{
    background-image:url(../images/graduated_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-periode
{
    background-image:url(../images/periode_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-specification-ability
{
    background-image:url(../images/specification_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-holiday
{
    background-image:url(../images/holiday_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-employee-type
{
    background-image:url(../images/employee_type_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}


.img-working-hour
{
    background-image:url(../images/working_hour_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-status-attendance
{
    background-image:url(../images/status_attendance_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-permit
{
    background-image:url(../images/permit_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-over-time
{
    background-image:url(../images/overtime_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-password-config
{
    background-image:url(../images/password_config_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}
.img-group-working
{
    background-image:url(../images/group_working_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-leave-scheme
{
    background-image:url(../images/leave_scheme_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-organization-letter
{
    background-image:url(../images/organization_letter_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-job-title
{
    background-image:url(../images/jabatan_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-position
{
    background-image:url(../images/position_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-function-group
{
    background-image:url(../images/function_group_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-user-menu
{
    background-image:url(../images/menu_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-favorite-menu
{
    background-image:url(../images/favorite_menu_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-job-descriptions
{
    background-image:url(../images/job_descriptions_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-bio-data
{
    background-image:url(../images/bio_data.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-emp-data
{
    background-image:url(../images/user_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-approval-matrix
{
    background-image:url(../images/approval_matrix_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-approval-definition
{
    background-image:url(../images/approval_defition_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

.img-approval-activity
{
    background-image:url(../images/approval_activity_ico.png)!important;
    background-size: 80% auto;
    padding-right: 2px;
}

#box_bg
{
    /*border:0px solid #006699;*/
    background-image: none;
    /*    background-image: url(../images/greyzz.png);
        background-repeat: repeat;*/
    background: #ffffff;
    /*width:100%;*/
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:5px;
    /*height:330px;*/
    /*box-shadow:0 2px 2px rgba(0,0,0,.2),0 1px 5px rgba(0,0,0,.2),0 0 0 8px rgba(255,255,204,.8);*/
    margin: 10px;
    position: relative;
    padding: 0.5em 1em;
    /*top:53%;*/
    /*position:fixed;*/
    /*margin-top:-160px;*/
    /*left:50%;*/
    /*margin-left:-302px;*/
}
