/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2014, 11:19:51 AM
    Author     : Deni Husni FR
*/
body
{
    /*    margin:0 auto;
        padding:0;
        position:absolute;
        background-image: url(../images/Middle_texture.jpg);
        background-color:#ccffff;
        background-repeat:repeat;
        background-position:top left;
        background-attachment:fixed;
        width:100%;
        min-height:100%;
        overflow:visible;*/


    margin: 0 auto;
    padding: 0;
    color: #142B30;
    background-color: #A4D0DA;
    background-image: url('../images/Bottom_texture.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;


}



root
{
    display:block
}
.ui-widget,.ui-widget .ui-widget
{
    font-size:14px!important;
    font-family: Calibri!important;
}
#art-page-background-middle-texture
{
    position: absolute;
    background-image: url('../images/Middle_texture.jpg');
    background-repeat: repeat-x;
    background-position: top left;
    background-attachment: fixed;
    width:100%;
    min-height:100%;
    overflow:visible;
    font-size: 15px !important;
    font-family: Calibri!important;


}
#art-page-background-glare
{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-attachment: fixed;
}
.header_hrm{
    font-family: Calibri!important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: #245485 !important;
}

.label_hrm{
    font-family: Calibri!important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #245485 !important;
}

.isitext_hrm{
    font-family: Calibri!important;
    font-size: 14px !important;
    color: #245485 !important;
}

.footer_hrm{
    font-family: Calibri!important;
    font-size: 13px !important;
    color:#003366!important;
}

#art-page-background-glare-image
{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-attachment: fixed;
    background-image: url('../images/page_gl.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.art-sheet
{
    position: relative;
    margin: 0 auto;
    min-width: 13px;
    min-height: 13px;
}
#header_login
{
	background:none repeat scroll 0 0 #035 ;
    box-shadow:0 -1px rgba(255,255,255,.05) inset,0 1px rgba(0,0,0,.05);
    position:relative;
    text-align:left;
    text-shadow:0 1px rgba(0,0,0,.1);
    z-index:1;
    height:67px;   
}
#header_namaPT{
    float: left;
    /*padding-top: 5px;*/
    margin-left: 10px;
    padding-top:5px;
    font-size: 20px!important;
    color: #ffffff;
    /*font-family:Verdana;*/
}
#box_bg
{
    border:3px solid #006699;
    background-image: url(../images/greyzz.png);
    background-repeat: repeat;
    /*background:#f5f4f4;*/
    width:600px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:5px;
    height:330px;
    box-shadow:0 2px 2px rgba(0,0,0,.2),0 1px 5px rgba(0,0,0,.2),0 0 0 8px rgba(255,255,204,.8);
    top:50%;
    position:fixed;
    margin-top:-160px;
    left:50%;
    margin-left:-302px;
}
.img-button-facebook
{
    background-image:url(../images/facebook.png)!important
}
.img-button-twitter
{
    background-image:url(../images/twitter.png)!important
}

.ui-growl-title
{
    font:18px "Lucida Console"!important;
    color:#900;
    text-align:left
}
.ui-growl-message p
{
    font:12px Verdana!important;
    color:#036
}
.ui-growl
{
    position:fixed;
    top:4%
}