body
{
    margin:0 auto;
    padding:0
}
root
{
    display:block
}
.ui-widget,.ui-widget .ui-widget
{
    font-size:11px!important;
    font-family: Verdana!important;
}
.ui-clock
{
    font-size:12px!important;
    font-family:Trebuchet MS
}
.ui-growl-title
{
    font:18px "Lucida Console",Monaco,monospace!important;
    color:#900;
    text-align:left
}
.ui-growl-message p
{
    font:12px Verdana!important;
    color:#036
}
.ui-growl
{
    position:fixed;
    top:13%
}
.ui-chkbox .ui-chkbox-label
{
    float:right;
    padding-top:2px
}
.companyHeaderGrid td,.companyHeaderGrid tr
{
    border:0!important;
    padding:1.5px 3px;
    background:#fff
}
.ui-widget-header-orange
{
    color:#fc0!important
}
div.mail
{
    background:#F03030 none!important;
    border-color:#bd2828!important
}
div.call
{
    background:orange none!important;
    border-color:#cc8100!important
}
div.customer_rfq
{
    background:#6c0 none!important;
    border-color:#990!important
}
div.order
{
    background:#036 none!important;
    border-color:#003!important
}
div.deliveri
{
    background:#099 none!important;
    border-color:#033!important
}
div.receive
{
    background:#909 none!important;
    border-color:#303!important
}
div.invoice
{
    background:#990 none!important;
    border-color:#330!important
}
div.timeline-frame
{
    border-color:#5D99C3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
div.timeline-axis
{
    border-color:#5D99C3;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0') alpha(opacity=100);
    background:-webkit-gradient(linear,left top,left bottom,from(#5D99C3),to(#3A6DA0));
    background:-webkit-gradient(linear,left top,left bottom,from(#5D99C3),to(#3A6DA0));
    background:-webkit-linear-gradient(top,#5D99C3,#3A6DA0);
    background:-moz-linear-gradient(top,#5D99C3,#3A6DA0);
    background:-o-linear-gradient(top,#5D99C3,#3A6DA0);
    background:linear-gradient(top,#5D99C3,#3A6DA0);
    -khtml-opacity:1;
    -moz-opacity:1;
    opacity:1
}
div.timeline-groups-axis
{
    border-color:#5D99C3
}
div.timeline-groups-axis-onleft
{
    border-style:none solid none none
}
div.timeline-axis-text
{
    color:#fff
}
div.timeline-event
{
    color:#fff!important;
    -webkit-border-radius:5px!important;
    -moz-border-radius:5px!important;
    border-radius:5px!important
}
div.timeline-event-content
{
    padding:.5px;
    text-shadow:none
}
div.header_view
{
    margin-left:10px;
    margin-top:5px;
    margin-right:10px;
    margin-bottom:10px
}
.style_header
{
    font-family:Segoe UI!important;
    font-size:22px;
    font-weight:700;
    color:#036;
    margin-left:3px
}
#art-page-background-middle-texture
{
    position:absolute;
    background-image: url(../images/squairy_light.png);
    background-color:#ccffff;
    background-repeat:repeat;
    background-position:top left;
    background-attachment:fixed;
    width:100%;
    min-height:100%;
    overflow:visible
}
#header_login
{
    background:none repeat scroll 0 0 #033 ;
    box-shadow:0 -1px rgba(255,255,255,.05) inset,0 1px rgba(0,0,0,.05);
    position:relative;
    text-align:center;
    text-shadow:0 1px rgba(0,0,0,.1);
    z-index:1;
    height:67px;
}
#box_bg
/*<div style="background-image: url(./resources/images/subtle_grunge.png);background-repeat: repeat">*/
{
    border:3px solid #006666;
    background-image: url(../images/greyzz.png);
    background-repeat: repeat;
    /*background:#f5f4f4;*/
    width:600px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:5px;
    height:330px;
    box-shadow:0 2px 2px rgba(0,0,0,.2),0 1px 5px rgba(0,0,0,.2),0 0 0 8px rgba(255,255,204,.8);
    top:50%;
    position:fixed;
    margin-top:-150px;
    left:50%;
    margin-left:-302px;
}
.img-button-facebook
{
    background-image:url(../images/facebook.png)!important
}
.img-button-twitter
{
    background-image:url(../images/twitter.png)!important
}

/*.ui-datatable-even {
    background-color: #2C4359 !important;
}*/

.ui-datatable-odd {
    background-color: #e1f0f0 !important;
}
.ui-widget-content{
    background-image: none !important;   
}

