/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2014, 9:35:47 AM
    Author     : Deni Husni FR
*/


ul#tabmenu
{
    /*width:100%;*/
    /*margin: 0 auto; If the menu has a width, this "margin:0 auto;" makes the menu center-aligned. You can remove it for left-alignment, or change it to "margin-left:auto; margin-right:0;" for right-alignment.*/
    text-align:left;
    list-style:none;
    padding:0;
    font-size:0;
    position:relative;
    min-height:52px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
ul#tabmenu:after
{
    content:'.'; height: 0; clear: both; display: block; visibility: hidden;
}

ul#tabmenu li
{
    display:inline;
    list-style:none; padding:0;
    margin-top:0;margin-bottom:0;
    margin-left:5px;margin-right:0px;
}

/*Main menu links*/
ul#tabmenu li a
{
    letter-spacing:normal;
    color:#FFFFFF;
    padding:0 14px;
    line-height:25px;
    font-size:12px;
    font-weight:normal;
    font-family:Verdana;
    text-decoration:none;
    display:inline-block; 
    outline:0;

    border:1px solid #00CCFF;
    border-bottom:none;
    background:#2e90bd;
    position:relative;
    top:1px;
    z-index:4;  
    border-radius:4px 4px 0 0;
}
/* If you've set the menu's javascript file with { preview:false }, you may want to specify the following hovered tab styles     
ul#tabmenu li a:hover {
    color: red;
    background: black;
}*/

ul#tabmenu li.active a
{
    padding-bottom:1px;
    background: #91C05F;
    color:#EEEEEE;
   
}

/* You can set active tab's style when hovered
ul#tabmenu li.active a:hover {
    color:green;
}*/

/* Secondary level sub-menu
----------------------------------------------------------*/
ul#tabmenu li.active ul, ul#tabmenu>li:first-child>ul
{
    display:block;
    text-align:left;
    margin:0;
    padding:0;
    border:1px solid #00CCFF;    
    float:left;
    width:100%;
    z-index:3;
    border-radius:3px;
}

ul#tabmenu li ul
{
    display: none;
    letter-spacing:normal;
    background:#91C05F;
}    
ul#tabmenu li li
{
    margin-left: 0px;
}

/*Sub-menu links*/
ul#tabmenu ul li a
{
    color:#FFFFFF;
    padding:0;
    padding-left:15px;padding-right:0; 
    font-size:12px;
    font-weight:normal;
    font-family:Verdana;
    line-height:25px;
    margin: 0; border: 0; top: 0;
    background: transparent;
}
ul#tabmenu li.active li a, ul#tabmenu li.active li a:hover {
    color:#FFFFFF;
    border: 0;
    background: transparent;
    

}

ul#tabmenu ul li.subActive a, ul#tabmenu ul li a:hover
{
    text-decoration: underline;
    color: #006600 !important;
    /*font-weight: bold;*/
}

ul#tabmenu li.dummy a
{
    display:none;    
}

/*Third-level sub menu
------------------------------------------------------------*/
ul#tabmenu ul li li
{
    font-size:12px;
}
/* links */
ul#tabmenu ul li li a
{
    line-height:22px;
    padding: 2px!important; 
    white-space: nowrap;
    font-size:12px;
    font-weight:normal;
    font-family:Verdana;
}
/* non-active links */
ul#tabmenu ul li.subActive li a
{
    color:#FFFFFF;
    text-decoration: none;
}
/* active link */
ul#tabmenu ul li.subActive li.subActive a, ul#tabmenu ul li.subActive li a:hover
{
    color:#0066CC;
    text-decoration: underline;
}

ul#tabmenu li.active li li
{
    display: block;
    *clear:both;/*IE hack*/
}

ul#tabmenu li.active ul ul
{
    text-align:left;
    padding:4px 24px 10px 24px;
    left: 0px; /*offset*/
    width: auto;
    background:#91C05F;
    border:1px solid #00CCFF;
    border-top: 0;
    *top: 27px;
    display: none;
    position: absolute;
    z-index: 4;
    border-radius: 0 0 4px 4px;

}
ul#tabmenu li.active li
{
    position: relative;
}

