/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2014, 10:44:09 AM
    Author     : Deni Husni FR
*/


.panelMenu{
    background-color: #003366 !important;
    background-image:none !important;
    background-repeat: repeat-x;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: none;
    height: 29px !important;
    font-family: Lucida Sans !important;
    font-size: 14px !important;
    /*padding: 0px;*/
}

.menu a{
    font-weight: bold;
    color: #FFFFFF;
    font-family: Lucida Sans !important;

}

.menu_child a{
    font-weight: bold;
    color: #003366;
    font-family: Lucida Sans !important;

}
.grid_no_border td,.grid_no_border tr 
{
    border:0px;
    /*padding:3px 3px!important;*/
    background:transparent;
    border-width: 0px !important;
    padding-right: 2px !important;
    padding-bottom: 2px !important;
    padding: 1px 4.5px !important;

    /*left: 50%!important;*/
}
.grid_border td,.grid_border tr 
{
    border:2px !important;
    /*padding:3px 3px!important;*/
    /*background:transparent;*/
    border-style: solid !important;
    border-width: 1px!important;
    border-color: #245485 !important;
    padding-right: 2px !important;
    padding-bottom: 2px !important;
    padding: 1px 4.5px !important;

    /*left: 50%!important;*/
}
.ui-widget,.ui-widget .ui-widget
{
    font-size:13px;
    font-family: Calibri;
    color: #003366;
}

.ui-datatable-odd {
    background-color: #e1f0f0 !important;
    border: 1px solid #a6c9e2 !important;
    /*border: 1px !important;*/
}
.ui-datatable-even {
    /*background-color: #e1f0f0 !important;*/
    border: 1px solid #a6c9e2 !important;
    /*border: 1px !important;*/
}

.ui-widget-content{
    background-image: none !important;   
}

.ui-corner-all {
    border-radius: 4px;

}

.label_hrm{
    font-family: Calibri!important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #245485 !important;

}

.isitext_hrm{
    font-family: Calibri!important;
    font-size: 13px !important;
    color: #245485 !important;

}

.header_big{
    font-family: Lucida Sans !important;
    font-size: 14px !important;
    font-weight: bold;
    color: #036;
}

.header_small_no_bold{
    font-family: Lucida Sans !important;
    font-size: 12px !important;
    font-weight: normal;
    color: #003366; 
}

.ui-growl-title
{
    font:18px "Lucida Console"!important;
    color:#900;
    text-align:left
}
.ui-growl-message p
{
    font:12px Verdana!important;
    color:#036
}
.ui-growl
{
    position:fixed;
    top:2%;
    right: 1%;
}
