/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2014, 10:44:09 AM
    Author     : Deni Husni FR
*/


.panelMenu{
    background-color: #003366 !important;
    background-image:none !important;
    background-repeat: repeat-x;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: none;
    height: 29px !important;
    font-family: Lucida Sans !important;
    font-size: 14px !important;
    /*padding: 0px;*/
}

.menu a{
    font-weight: bold;
    color: #FFFFFF;
    font-family: Lucida Sans !important;

}

.menu_child a{
    font-weight: bold;
    color: #003366;
    font-family: Lucida Sans !important;
}


.grid_no_border td,.grid_no_border tr 
{
    border:0px;
    /*padding:3px 3px!important;*/
    background:transparent;
    border-width: 0px !important;
    padding-right: 2px !important;
    padding-bottom: 2px !important;
    padding: 1px 4.5px !important;

    /*left: 50%!important;*/
}
.grid_border td,.grid_border tr 
{
    border:2px !important;
    /*padding:3px 3px!important;*/
    /*background:transparent;*/
    border-style: solid !important;
    border-width: 1px!important;
    /*border-color: #245485 !important;*/
    padding-right: 2px !important;
    padding-bottom: 2px !important;
    padding: 1px 4.5px !important;

    /*left: 50%!important;*/
}
.grid_border_table td,.grid_border_table tr 
{
    border:2px !important;
    /*padding:3px 3px!important;*/
    /*background:transparent;*/
    border-style: solid !important;
    border-width: 1px!important;
    border-color: #AED0EA !important;
    /*    padding-right: 2px !important;
        padding-bottom: 2px !important;*/
    /*padding: 1px 4.5px !important;*/

    /*left: 50%!important;*/
}

.grid_border2 td,.grid_border2 tr 
{
    background: none!important;
}

.grid_border3 td,.grid_border3 tr 
{
    background: none!important;
    /*      border:2px !important;
        padding:3px 3px!important;
        background:transparent;
        border-style: solid !important;
        border-width: 1px!important;*/
    /*border-color: #245485 !important;*/
    /*    padding-right: 2px !important;
        padding-bottom: 2px !important;*/
    padding: 2.5px 7px !important;
}
.grid_border4 td,.grid_border4 tr 
{
    background: none!important;
    /*      border:2px !important;
        padding:3px 3px!important;
        background:transparent;
        border-style: solid !important;
        border-width: 1px!important;*/
    border-color: lightgray !important;
    border-width: 1px!important;
    /*    padding-right: 2px !important;
        padding-bottom: 2px !important;*/
    padding: 2.5px 7px !important;
}

.ui-widget,.ui-widget .ui-widget,.ui-widget input,.ui-inputfield
{
    font-size:13px;
    font-family: Calibri;
    /*color: #003366;*/
}



.ui-corner-all {
    border-radius: 4px;

}

.tabview_hrm{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 11px!important;
    font-family: Lucida Sans!important;	
}



.label_hrm{
    font-family: Calibri!important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #036 !important;

}

.label_button{
    font-family: Calibri!important;
    font-size: 13px !important;
    /*    font-weight: bold !important;
        color: #245485 !important;*/
}
.isitext_hrm{
    font-family: Calibri!important;
    font-size: 13px !important;
    /*color: #245485 !important;*/

}

.isitext_disabled_hrm{
    font-family: Calibri!important;
    font-size: 13px !important;
    color: #245485 !important;
    background-color: #DFE4E6 !important;
}

.header_big{
    font-family: Lucida Sans !important;
    font-size: 13px !important;
    font-weight: bold;
    color: #036;
}

.header_small_no_bold{
    font-family: Lucida Sans !important;
    font-size: 12px !important;
    font-weight: normal;
    color: #003366; 
}

.ui-growl-title
{
    font:18px "Lucida Console"!important;
    color:#900;
    text-align:left
}
.ui-growl-message p
{
    font:12px Verdana!important;
    color:#036
}
.ui-growl
{
    position:fixed;
    top:2%;
    right: 1%;
}

.ui-menu-child
{
    width: 200px !important;
}

.panel{
    color:#FFFFFF !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    /*width: 100%!important;*/
    padding-right: 23px
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    position: absolute;
    top: 11px;
    right: 10px;
}
.midle_combo_box .ui-selectonemenu-panel .ui-selectonemenu-filter{
    width: 60%!important;
    padding-right: 30px 
}

.midle_combo_box .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon{
    position: absolute;
    top: 10px;
    right: -30px
}

.watermark {
	position:absolute;
	/* right:400px;  */
	font-size:24px !important; 
	font-style: italic; 
	opacity:0.7;
	z-index:99;
	color:red;
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* IE 9 */
	-webkit-transform:rotate(-20deg); /* Opera, Chrome, and Safari */
}


